body, #root {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  display:flex;
  flex-direction:column;
  height: 100vh;
  width: 100vw;
  flex:1;
}

#app {

  padding: 0;
  flex: 1;

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    align-items: center;
    background: #ccc;
  }

  #icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border: 1px solid #000;
    border-radius: 50%;
  }

  &.light {
    background: #eee;
    color: #111
  }

  &.dark {
    background: #111;
    color: #eee;
  }

  #counter {
    margin: 20px;

    * {
      margin: 5px;
    }
  }

}
