header {
  display:flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #ccc;

  margin-bottom: 1em;

  h3 {
    span {
      color: red;
    }
  }
}

table {

  td {
    padding: .25em 1em;;
  }

  thead {
    background-color: #f5f5f5;
  }

  tr.eligible-false {
    color: red;
  }

}
